<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>604405878803-lghjh1h1nhk763d0ldrdbb1ug1h9gr1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604405878803-lghjh1h1nhk763d0ldrdbb1ug1h9gr1m</string>
	<key>API_KEY</key>
	<string>AIzaSyCL8pjkjp5_hsCEfySvDH77mxuRcHx2Vqw</string>
	<key>GCM_SENDER_ID</key>
	<string>604405878803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dream.tillo</string>
	<key>PROJECT_ID</key>
	<string>mig-chat-feaac</string>
	<key>STORAGE_BUCKET</key>
	<string>mig-chat-feaac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604405878803:ios:aea1a64a7beb9ee7</string>
	<key>DATABASE_URL</key>
	<string>https://mig-chat-feaac.firebaseio.com</string>
</dict>
</plist>